h1 {
    color: #eedeff; /* Base color for the text */
    background-image: linear-gradient(to bottom, #9933FF, #6600EE); /* Add a gradient background for the text */
    padding: 0.5em; /* Add some padding around the text to reveal the gradient background */
    text-shadow: 0 0 1px #663399, 0 0 5px #9933FF;
    text-align: center;
    font-size: 4em;
}

#headerFeatures {
    display: inline-flex;
}

#flixsterHead {
    margin-top: 0;
    padding: 30px;
}