#cardSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#searchButton {
    margin-right: 4%;
}

#sortLabel {
    padding-left: 4%;
}

#mainBody {
    display: flex;
}

#loadMore {
    display: block;
}

#movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
