#movieCard {
    box-shadow: 3px 3px 8px rgba(31, 31, 31, 0.539);
    width: 200px;
    height: 380px;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: rgb(81, 81, 81);
    margin: 1%;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#movieCard:hover {
    box-shadow: 0px 4px 4px 8px rgba(202, 202, 202, 0.609);
    transform: translate3d(0, -2px, 0) scale(1.04);
    background-color: #cccccc;
}

p {
    padding: 0px;
    margin: 9px;
}

#moviePoster {
    width: 100%;
    height: auto;
    border-radius: 7px;
    padding: 0px;
    margin: 0px;
}

#movieRating {
    font-size: 0.8em;
    display: inline-block;
}

#emptyHeart {
    display: inline-block;
    margin-left: 40px;
}

#blueHeart {
    display: inline-block;
    margin-left: 40px;
}

#seeDetails {
    background-color: rgb(67, 67, 67);
    color: white; 
    border-radius: 10px; 
    padding: 5px 8px; 
    margin-bottom: 10px;
    transition: background-color 0.2s ease; 
    font-weight: lighter;
    font-size: x-small;
    display: block;
    margin: auto;
    text-align: center;
}

#seeDetailsBox {
    vertical-align: bottom;
}

#seeDetails:hover {
    background-color: #cccccc;
}

#movieName {
    font-weight: bold;
}
