#movieCard {
    box-shadow: 2px 2px 5px rgba(101, 101, 101, 0.539);
    width: 270px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s ease;
    background-color: rgb(81, 81, 81);
    margin: 1%;
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
}

#movieCard:hover {
    box-shadow: 0px 4px 4px 8px rgba(202, 202, 202, 0.609);
    transform: translate3d(0, -2px, 0) scale(1.04);
}

#moviePoster {
    height: 80%;
    border-radius: 7px;
}

#movieName {
    font-weight: bold;
}
